@import './colorschema.scss';

.default-button,
.default-input > button {
  font-size: 1.2rem;
  margin: 0.2rem;
  background-color: rgba(0, 0, 0);
  border: 0.2rem dashed rgb(36, 36, 36);
  color: rgb(90, 89, 89);
  padding: 0.3rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.default-button:hover {
  border: 0.2rem solid $accent-blue;
  background-color: $background-secondary;
  color: $accent-blue;
  transition: color 500ms;
}

.default-input {
  font-size: 1.5rem;
  background-color: $background-secondary;
  border: none;
  border-bottom: 2px solid rgb(75, 74, 74);
  color: $background-primary;
  margin-bottom: 3rem;
  outline: none;
}

.default-button:active {
  color: $accent-blue;
  transition: color 500ms;
}

.movie-catalog {
  display: flex;
  gap: 1rem;
  justify-content: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin-top: 2rem;
}

@media screen and (max-width: 1280px) {
  .default-input {
    max-width: 250px;
  }
}
