header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 50%;
  border: 0.2rem dashed red;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-radius: 1rem;
  position: sticky;
  top: 5px;
  z-index: 1000;
  background-color: rgba(5, 0, 0, 0.89);
}

.app-title {
  font-size: 2rem;
  font-weight: bold;
  color: red;
}
