@import "../index.scss";
@import './colorschema.scss';

header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 50%;
  padding: 1rem;
  margin-top: 1rem;
  position: sticky;
  top: 5px;
  z-index: 1000;
  background-color: $background-primary-opacity;
  // @include defaultBorder;
  // border-color: #97b8e4;
  // border-width: 0.4rem;
  border-radius: 1rem;
  border-color: rgba(0, 0, 0, 0);
  @include marginAuto;
  border-style: dashed;
}

.app-title {
  font-size: 2rem;
  font-weight: bold;
  color: $text-primary;
  text-decoration: none;
}

.app-title:hover {
  transition: color 500ms;
  color: $accent-blue;
}

@media screen and (max-width: 864px) {
  header {
    width: 85%;
  }
}
