@import "../index.scss";

header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 50%;
  padding: 1rem;
  margin-top: 1rem;
  position: sticky;
  top: 5px;
  z-index: 1000;
  background-color: rgba(15, 15, 15, 0.808);
  // @include defaultBorder;
  // border-color: #97b8e4;
  // border-width: 0.4rem;
  border-radius: 1rem;
  border-color: rgba(0, 0, 0, 0);
  @include marginAuto;
  border-style: dashed;
}

.app-title {
  font-size: 2rem;
  font-weight: bold;
  color: #6d727a;
  text-decoration: none;
}

.app-title:hover {
  font-size: 2.2rem;
  transition: font-size 500ms;
}

@media screen and (max-width: 864px) {
  header {
    width: 85%;
  }
}
