@import "../index.scss";

header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 50%;
  padding: 1rem;
  margin-top: 1rem;
  position: sticky;
  top: 5px;
  z-index: 1000;
  background-color: rgba(5, 0, 0, 0.89);
  @include defaultBorder;
  @include marginAuto;
  border-style: dashed;
}

.app-title {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.app-title:hover {
  font-size: 2.2rem;
  transition: font-size 500ms;
}

@media screen and (max-width: 864px) {
  header {
    width: 85%;
  }
}
