@import "../index.scss";

.horizontal-navigation {
  @include flexHLayout;
  gap: 1rem;
  margin-top: 1rem;
}

.vertical-navigation {
  @include flexVLayout;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.section {
  margin: 1.5rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.user-area {
  margin-left: 20%;
  margin-right: 20%;
  max-width: 60%;
  padding: 2rem;
  margin-top: 1rem;
  @include defaultBorder;
  @include flexHLayout;
}

.plans-container {
  @include flexVLayout;
  align-items: center;
  margin: 1rem;
}

.plans-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  @include defaultBorder;
  margin: 1rem;
  padding: 0.5rem;
}

@media screen and (max-width: 1280px) {
  .user-area {
    @include flexVLayout;
    max-width: calc(90% - 4rem);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .plans-grid {
    display: flex;
    flex-direction: column;
  }
}
