.horizontal-navigation {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.vertical-navigation {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.section {
  margin: 1.5rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.user-area {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 60%;
  padding: 2rem;
  border: 2px solid red;
  margin-top: 1rem;
  border-radius: 1rem;
}

.plans-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  border: 2px solid red;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
}
