.player {
  background-color: rgba(0, 0, 0, 0.911);
  position: absolute;
  top: 0;
  z-index: 10000;
  margin-top: -1rem;
  height: calc(100vh + 1rem);
  width: calc(100vw - 0.7rem);
}

.player-movie-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10000;
  margin-top: -1rem;
  margin-left: -0.75rem;
}

.controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  opacity: 0;
  z-index: 10001;
}

.controls-container:hover {
  opacity: 1;
  transition: opacity 500ms;
}
