:root {
  --red: red;
  --gray-light: rgba(0, 0, 0, 0);
  --gray-dark: #333;
  --spacing: 2rem;
}

.search-input {
  font-size: 1.5rem;
  background-color: var(--gray-light);
  border: none;
  border-bottom: 2px solid var(--red);
  color: var(--red);
  width: 50%;
  margin-bottom: var(--spacing);
  outline: none;
}

.search-overlay {
  width: calc(100% - 160px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 80px 0;
}

.search-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results {
  display: flex;
  gap: 1rem;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}
