.search-input {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid red;
  color: red;
}

.search-overlay {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000000000000;
  display: none;
  flex-direction: column;
  padding: 20px;
}
