@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #03072b;
}

* {
  font-family: "Tilt Neon", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
